.container{background-color: #fff;}
.active{color: #7f7f7f;
		font-size: 26px;
		margin-bottom: -3px;
		margin-left: -30px;

}
.N{padding-top: 80px;}
.Non{padding-top: 40px;
margin-left: -20px;}
.global{color: #a09f9f;
		font-size: 15px;
		margin-left: -30px;
		padding-top: -10px;
}
.garden{color: #c4c4c3;
		font-size:12px;
		margin-left: -30px;
		margin-top: -10px;
}
.invoice{
	font-size: 15px;
	color: #717378;

}
.img1{
	margin-top: -10px;
}
.pic{
	margin-bottom: 45px;
}
.back{
		
		color: #fff;
		padding-right: 50%;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		font-size: 13px;
		margin-top: -10px;
}
.white{background-color: #fff;}
.row1{
	margin-left: 15px;
}
.address{
	font-size: 14px;
	color: #717378;
}
.name{ font-size: 21px;
	color: #717378;
	margin-bottom: -5px;

 }
 .set{
 	margin-left: 5px;
 	margin-top: -78px;
 	padding-left: 10px;
 }
 .image{
 	margin-top: -125px;
 }
 .set1{
 	margin-top: -80px;
 	margin-left:5px;
 	padding-left: 10px; 
 }
 .row2{
 	margin-left: -35px;
 }
 .row3{
 	margin-left: -50px;
 }
 .website{
 	font-size: 13px;
 	color: #717378;
 	margin-top: 20px;
 }
 .phone{color: #717378;
 		margin-top: 20px;
 }
 .title{
 	font-size: 54px;
 	color: #ababab;
 }
 .jobs{
 	margin-left: -10px;
 }

 .label{font-size: 14px;}

.email-color{color: #ababab;
			 font-size: 11px;
			 padding-top: 90px;
			
}
.row.red{color: #ec2327;
		font-size: 16px;
}
.design{color: #616262;
		font-size: 12px;
		padding-top: 10px;
		padding-left: 25px;
}
.font{font-size: 10px;}
.gray{background-color: #e8e8e9;
		
 }
.gray1{background-color: #f7f6f6;}
.gray2{background-color: #e8e8e9;
		padding-bottom:18px;
}
.gray3{background-color: #f7f6f6;}
h4{padding-top: 19px;
	color: #616262;
}
h5{padding-left: 25px;}

.payment{
	color: #fff;
	background-color: #acacac;
	border-radius: 5px;
	font-size: 15px;
	padding-left: 30px;
	padding-top:10px ;
	padding-bottom: 10px;
	margin-bottom: 40px;
	margin-left: 15px;
	margin-right: 59px;
}
.pw{margin-bottom: 40px;
	color: #8f8f8f;
}
.west{margin-bottom: 40px; 
		margin-top: -10px;
		color: #8f8f8f;
}
.card{color: #8f8f8f;}
.act{color: #8f8f8f;}
.term{margin-top: 200px;
		color: #8f8f8f;	
}
.total{margin-bottom: -50px;
		color: #fff;
		font-size: 30px;
		text-align: right;

}
.thank{font-size: 23px;
		margin-top: 28px;
		color: #8f8f8f;
}
.sub{font-size: 20px;
		text-align: right;
		padding-bottom: 30px;
}
.sub1{text-align: center;
}
.image1{
	margin-top: 30px;
}
.t{margin-left:85px; }
.discount{ color: #ed1e25;
			text-align: center;
			font-size: 20px;
			padding-bottom: 20px;
 }
 .p{text-align: center;}


.terry{text-align: center;
		margin-top: 40px;
		font-size: 16px;
}
.account{text-align: center;
		  font-size: 17px;
}
.gap{margin-left: 30px;
	margin-top: -70px;
	color: #8f8f8f;
	}
.footer{
	margin-top: 25px;
	margin-left: 30px;
}
.www{margin-left: 25px;
	margin-top: -70px;
	color: #8f8f8f;
}
.com{margin-top: 12px;
	  color: #8f8f8f;
	  margin-left: 28px;
}
